/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@font-face {
    font-family: 'robotoregular';
    src: url('../css/fonts/Roboto-Regular-webfont.eot');
    src: url('../css/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/Roboto-Regular-webfont.woff') format('woff'),
    url('../css/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
    url('../css/fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../css/fonts/RobotoCondensed-Bold-webfont.eot');
    src: url('../css/fonts/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/RobotoCondensed-Bold-webfont.woff') format('woff'),
    url('../css/fonts/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
    url('../css/fonts/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'robotoregular', sans-serif;
    overflow-y: scroll;
}

h1.hero {
    margin-top: 0;
}

h1.herotext {
    font-family: 'roboto_condensedbold', sans-serif;
    background-color: white;
}

div.hero {
    margin-top: 0;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #5c6bc0;
}

.parallax-container {
    line-height: 0;
    height: 380px;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }

}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }

    h1.hero {
        font-size: 50px;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.btn.listalign {
    margin-top: 10px;
}

label.active[type=radio] {
    color: #5c6bc0;
}

.input-field label.active {
    color: #000000;
}

.input-field input {
    border-bottom: 1px solid #5c6bc0;
    box-shadow: 0 1px 0 0 #5c6bc0;
}

textarea.materialize-textarea.valid,
textarea.materialize-textarea.valid:focus {
    border-bottom: 1px solid #5c6bc0;
    box-shadow: 0 1px 0 0 #5c6bc0;
}

/* label color */
.input-field label {
     color: #5c6bc0;
   }
/* label focus color */
.input-field input[type=text]:focus + label {
     color: #5c6bc0;
   }
/* label underline focus color */
.input-field input[type=text]:focus {
     border-bottom: 1px solid #5c6bc0;
     box-shadow: 0 1px 0 0 #5c6bc0;
   }
/* valid color */
.input-field input[type=text].valid {
     border-bottom: 1px solid #5c6bc0;
     box-shadow: 0 1px 0 0 #5c6bc0;
   }
/* invalid color */
.input-field input[type=text].invalid {
     border-bottom: 1px solid #5c6bc0;
     box-shadow: 0 1px 0 0 #5c6bc0;
   }
/* icon prefix focus color */
.input-field .prefix.active {
     color: #5c6bc0;
   }

input {
    color: #5c6bc0;
}

.input-field input{
    color: #5c6bc0;
}

input:not([type]).valid, input:not([type]):focus.valid,
input[type=text].valid,
input[type=text]:focus.valid,
input[type=password].valid,
input[type=password]:focus.valid,
input[type=email].valid,
input[type=email]:focus.valid,
input[type=url].valid,
input[type=url]:focus.valid,
input[type=time].valid,
input[type=time]:focus.valid,
input[type=date].valid,
input[type=date]:focus.valid,
input[type=datetime].valid,
input[type=datetime]:focus.valid,
input[type=datetime-local].valid,
input[type=datetime-local]:focus.valid,
input[type=tel].valid,
input[type=tel]:focus.valid,
input[type=number].valid,
input[type=number]:focus.valid,
input[type=search].valid,
input[type=search]:focus.valid,
textarea.materialize-textarea.valid,
textarea.materialize-textarea:focus.valid {
    border-bottom: 1px solid #5c6bc0;
    box-shadow: 0 1px 0 0 #5c6bc0;
}

.green {
    background-color: #5c6bc0 !important;
}

.green-text {
    color: #5c6bc0 !important;
}

input:not([type]).valid + label:after,
input:not([type]):focus.valid + label:after,
input[type=text].valid + label:after,
input[type=text]:focus.valid + label:after,
input[type=password].valid + label:after,
input[type=password]:focus.valid + label:after,
input[type=email].valid + label:after,
input[type=email]:focus.valid + label:after,
input[type=url].valid + label:after,
input[type=url]:focus.valid + label:after,
input[type=time].valid + label:after,
input[type=time]:focus.valid + label:after,
input[type=date].valid + label:after,
input[type=date]:focus.valid + label:after,
input[type=datetime].valid + label:after,
input[type=datetime]:focus.valid + label:after,
input[type=datetime-local].valid + label:after,
input[type=datetime-local]:focus.valid + label:after,
input[type=tel].valid + label:after,
input[type=tel]:focus.valid + label:after,
input[type=number].valid + label:after,
input[type=number]:focus.valid + label:after,
input[type=search].valid + label:after,
input[type=search]:focus.valid + label:after,
textarea.materialize-textarea.valid + label:after,
textarea.materialize-textarea:focus.valid + label:after {
    content: attr(data-success);
    color: #5c6bc0;
    opacity: 1;
    border-bottom: 1px solid #5c6bc0;
    -webkit-box-shadow: 0 1px 0 0 #5c6bc0;
    -moz-box-shadow: 0 1px 0 0 #5c6bc0;
    box-shadow: 0 1px 0 0 #5c6bc0;
}

textarea[type=number]:focus {
    border-bottom: 1px solid #5c6bc0;
    -webkit-box-shadow: 0 1px 0 0 #5c6bc0;
    -moz-box-shadow: 0 1px 0 0 #5c6bc0;
    box-shadow: 0 1px 0 0 #5c6bc0;
}